<h2>Create Post</h2>
<br/>
<form action="http://formspree.io/jaggywali@gmail.com">
  <input type="email" name="_replyto">
  <textarea name="body"></textarea>
  <input type="submit" value="Send">
</form>
