<h2>Contact me</h2>
<br/>
<form action="" method="post"role="form">
 <div class="form-group">
   <label for="name">Name:</label>
   <br>
   <input id="name" class="form-control" name="post[name]" type="text" value="<%= @post.name %>" style="width=75%"/>
 </div>

 <div class="form-group">
   <label for="email">Email:</label>
   <br>
   <input id="email" class="form-control" name="post[email]" type="text" value="<%= @post.email %>" style="width=75%"/>
 </div>

 <div class="form-group">
   <label for="post_body">Message:</label>
   <br>
   <textarea id="post_body" name="post[body]" class="form-control" rows="10"><%= @post.body %></textarea>
 </div>
 <button type="submit" class="btn btn-success">Submit</button>
</form>
