
<!DOCTYPE html>
	<html>
	<head>
	<title>CV Website</title>
        <link rel="stylesheet" href="styles.css">
	</head>
	<body>

	    <header id="Headers">
		 <h1>Jagrit Gyawali</h1>
		<header/>
			<div id="menu">
       <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/education">Education</a></li>
          <li><a href="/experience">Experience</a></li>
          <li><a href="/my_blogs">My Blogs</a></li>
          <li><a href="/contact_me">Contact Me</a></li>
        </ul>
      </div>

		<section class="clearfix">
	       <h2>Higher Education</h2>	        
	       <div class="education">
	       <h3>Institution one</h3>
		    <ul>
		       <li>Institution name &#45;  University of Greenwich</li>
		       <li>Subject &#45;  Management of Business IT</li>
		       <li>Qualification &#45;  MSc. First class honours</li>
		    </ul>
		       <h3>Institution two</h3>
		     <ul>
		       <li>Institution name- Cardiff Metropolitan University</li>
		       <li>Subject &#45;  Computing</li>
		       <li>Qualifications &#45;  BSc. First class honours</li>
		     </ul>
		    </div> 
	     </section>
	     </body>
	<footer>Copyright &copy; Jagrit Gyawali 2015 
		<footer/>	
	</html>
