
<!DOCTYPE html>
	<html>
	<head>
	<title>CV Website</title>
        <link rel="stylesheet" href="styles.css">
	</head>
	<body>

		<section class="clearfix">
	       <h2>Higher Education</h2>	        
	       <div class="education">
	       <h3>Institution one</h3>
		    <ul>
		       <li>Institution name &#45;  University of Greenwich</li>
		       <li>Subject &#45;  Management of Business IT</li>
		       <li>Qualification &#45;  MSc. First class honours</li>
		    </ul>
		       <h3>Institution two</h3>
		     <ul>
		       <li>Institution name- Cardiff Metropolitan University</li>
		       <li>Subject &#45;  Computing</li>
		       <li>Qualifications &#45;  BSc. First class honours</li>
		     </ul>
		    </div> 
	     </section>
	     </body>
	<footer>Copyright &copy; Jagrit Gyawali 2015 
		<footer/>	
	</html>
