
<section id="experience" class="clearfix">
   <h2>Work Experience</h2>
    <div class="experience">
   <h3>Job One</h3>
  <ul>
    <li>Job Role &#45;  SDET Trainee</li>
    <li>Company &#45;  Sparta Global</li>
    <li>Description &#45;  Thorough training in various aspects of an SDET including; business practices, the project environment, testing with SQL and development using languages such as Ruby, Html & CSS.</li>
    <li>Date Started &#45;  12th October 2015</li>
  </ul>
   <h3>Job Two</h3>
  <ul>
     <li>Job Role &#45;  IT Solutions Consultant</li>
     <li>Company &#45;  Pragmatic Solutions Ltd</li>
     <li>Transferable skills &#45;  </li>
  <ol>
     <li>Good communication skills</li>
     <li>Business Analysis</li>
     <li>Team work</li>
     <li>Understanding of Technology</li>
     <li>Understanding of IT and Business</li>
  </ol>
     <li>Date Started &#45;  12th October 2014</li>
  </ul>
  </div>
  </section>
  </body>
<footer>Copyright &copy; Jagrit Gyawali 2015 
<footer/>	
