<!DOCTYPE html>
	<html>
	<head>
	<title>CV Website</title>
        <link rel="stylesheet" href="styles.css">
	</head>
		<header/>
			<body>
	    <section id="Personal" class="clearfix">
			<h2>Personal Information</h2>
				<img src ="selfie.jpg" width="304" height="228">
			    <p id="profile">MSc Graduate in Management of Business IT followed by other appropriate education leading to solid understanding and expertise in a diverse range of technologies, business and IT systems analysis and sound management and communication skills. 
			    <br><br>
				A passionate, positive, dedicated and insightful information technology professional with analytical and problem solving attitude, keen in bridging the divide of business and technological aspects of IT and hence strategise productive solutions. Recently inclined towards technological aspect of IT and it's application in Blue Chip Businesses having had a bit of experience dealing with small enterprises.
				</p>
		</section>
		<div class="person">
			<ul>
			  <li>Name &#45;  Jagrit Gyawali</li>
			  <li>DOB &#45;  01/07/1990</li>
			  <li>Gender &#45;  Male</li>
			  <li>Home address &#45;  21 Anglesea Road, SE18 6EG</li>
			  <li>Nationality &#45;  Nepalese</li>
			</ul>
		</div>
		<section id="contact">
			<h2>Contact Information</h2>
			<ul class="contact">
			  <li>Mobile number &#45;  07950293029</li>
			  <li>Personal email address &#45;  jaggywali@gmail.com</li>
			  <li>Work email address &#45;  jgyawali@spartaglobal.com</li>
			  <li>Twitter &#45;  <a href="https://twitter.com/MattStace_">@jagritgyawali</a></li>
			  <li>LinkedIn &#45;  <a href="https://www.linkedin.com/profile/view?id=AAMAABPHXOQBtlEE526hi_78ey1fZPzZVpS_4sA&trk=hp-identity-photo">jagritgyawali</a></li>
		    </ul>
	    </section>       
	</body>
	<footer>Copyright &copy; Jagrit Gyawali 2015 
		<footer/>	
	</html>
